:root{
    --primary: #F46500;
    --secondary: #264301;
    --black: #040406;
    --Manrope: 'Manrope', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --bgColor: #D6F582;
    --yellow: #FFE02A;
}
* {
    font-family: var(--Manrope);
    color: #081411;
    font-weight: 500;
}
.nav_logo{
    background-color: #D6F582;
}
.nav_btns{
    display: flex;
    width:20rem;
}
.nav_logo img{
    width: 8%;
    margin-left: 1.5rem;
}
.sign_up_btn{
    color: #ffffff;
    padding: 0.75rem 3rem;
    background-color: var(--primary);
    border: none;
}
.btn_log_in{
    padding: 0.75rem 3rem;
}